<center>
  <h1> Sweater Weather </h1>
  <br>
  <%= link_to 'View Full Documentation on GitHub', "https://github.com/MackHalliday/sweater_weather" %>
  <div class="container">
  <br>
  <h3>Endpoint Information</h3>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Endpoint</th>
          <th scope="col">Description</th>
          <th scope="col">Example</th>
        </tr>
      </thead>
        <tbody>
            <tr>
              <td> PLACEHOLDER </td>
              <td> PLACEHOLDER </td>
              <td> PLACEHOLDER </td>
            </tr>
        </tbody>
    </table>
  </div>
</center>
